{% extends "base.html" %}

{% block title %}New Chat - HUBs Messenger{% endblock %}

{% block header %}New Chat{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">Start a new conversation</h2>
    <form method="POST" action="{{ url_for('create_chat') }}">
        <div class="form-group">
            <label for="username">Enter username to chat with</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <button type="submit" class="btn btn-block">Start Chat</button>
    </form>
</div>
{% endblock %} 